extends layout

block content
  h1 Risasi's TimeStamp Microservice
  p FreeCodeCampy Backend Certification
  code localhost:3000/august 14, 2016
  br
  code localhost:3000/1379103948
  br
  p.red Output is in JSON format:
  br
  code { "unix": 1379103948, "natural":"august 14, 2016" }
